<div class="post-meta text-muted">

  <div class="d-flex">
    <div>
      <!-- published date -->
      <span>
              {{ site.data.locales[lang].post.posted }}
              {% include timeago.html date=page.date tooltip=true %}
            </span>

      <!-- lastmod date -->
      {% if page.last_modified_at %}
      <span>
              {{ site.data.locales[lang].post.updated }}
              {% include timeago.html date=page.last_modified_at tooltip=true %}
            </span>
      {% endif %}

      <!-- page views -->
      {% if site.google_analytics.pv.proxy_endpoint or site.google_analytics.pv.cache_path %}
      <span>
              <em id="pv" class="pageviews">
                <i class="fas fa-spinner fa-spin fa-fw"></i>
              </em>
              {{ site.data.locales[lang].post.pageview_measure }}
            </span>
      {% endif %}
    </div>

  </div> <!-- .d-flex -->

</div> <!-- .post-meta -->
