@font-face {
  font-family: 'Hernandez Niu';
  src: url('../fonts/hernandezniu/hernandezniu-heavy-webfont.woff2') format('woff2'),
  url('../fonts/hernandezniu/hernandezniu-heavy-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
